<h1 align="center"><%= link_to 'Lets add some more!', new_url_path %></h1>

<table>
	<tr>
		<th>ID</th>
		<th>Link</th>
		<th>Change</th>
	</tr>
<% @urls.all.each do |url| %>
	<tr> 
		<td><%= url.id %></td> 
		<td><%= url.link %></td>
		<td><%= link_to 'Edit', edit_url_path(@urls) %> |
		<%= link_to 'Delete', [url],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
		</td>
	</tr>
<% end %>
</table>